#开始抽奖的按键
LUCKY_KEY = "Tab"
#初始化抽奖的按键
LUCKY_INIT_KEY = "Delete"
#清除记录的按键
CLEAR_KEY = "c"
#全屏切换按键
FULL_SCREEN_KEY = "f"
#抽奖的持续时间，单位秒，请设置9个
LUCKY_TIMES ="[2,4,8,3,5,6,7,8,9]" 
#抽奖变化的速率，请设置9个，并且要小于LUCKY_TIMES对应的时间
#对应LUCKY_TIME和LUCKY_SPEED比率越小在grid模式下变化越慢，但是在3D球体模式下转得越快
LUCKY_SPEEDS = "[0.01,0.01,0.01,0.01,0.05,0.06,0.07,0.08,0.009]"
#默认抽奖模式：grid为网格模式，3d为3D球体模式，运行过程中可以通过F1/F2切换
LUCKY_MODE = "grid"