# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Others
.env
/avatar/*
!/avatar/.gitkeep
/audio/*
!/audio/active.mp3
!/audio/bg.mp3
/img/*
!/img/bg.png
!/img/title.png

/release/