* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}
