* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}

.container {
  border: none;
  overflow: hidden;
  z-index: 10;
  width: 90%;
  height: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}



/* 头像样式 */
.avatar {
  display: inline-block;
  /*所有的属性在0.6秒之内完成改变*/
  transition: all 0.6s;
  border-radius: 0px;
  /*s鼠标移上去，变成一个小手的图标，这样比较美观*/
  cursor: pointer;
  background-size: 100% 100%;
  height: 10px;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* 员工号 */
.avatar>div {
  display: none;
}


/* 放大的头像 */
.bigimg {
  transition: all 1s;
  transform: scale(1.6) !important;
  background-size: 100% 100%;
  box-shadow: 0px 1px 20px 20px #f9d099;
  z-index: 99;
}

/* 放大后的员工号 */
.bigimg>div {
  display: block;
  font-size: medium;
  text-align: center;
  transition: all 1s;
  font-family: "微软雅黑", "Dosis", sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  background-color: #a83922;
  color: #f9d099;
}

/* 放大头像动画 */
@keyframes bigger {}

#titlebox {
  width: 33%;
  height: 20%;
  margin: 0 auto;
  background-size: 100% 100%;
}

/* 抽奖人数信息 */
#drawcount,
#luckycount {
  z-index: 99;
  position: absolute;
  left: 20px;
  top: 10px;
  color: #FFFFFF;
  background-color: #f9d099;
  border: none;
  font-size: 20px;
}

/* 一次抽奖人数 */
#drawcount {
  top: 10px;
}

/* 已抽中人数 */
#luckycount {
  top: 50px;
}

/* 抽中人员显示容器 */
#mask {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
}